<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read One</title>
</head>
<body>
    <div style="display:flex;justify-content: space-between;">
        <h1>User {{user.id}}</h1>
        <a href="/users">Home</a>
    </div>

    <p>Full name: {{user.first_name+' '+user.last_name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Created_on: {{user.created_at}}</p>
    <p>Last updated on: {{user.updated_at}}</p>

    <a href="/users/{{user.id}}/edit">Edit </a>|
    <a href="/users/{{user.id}}/delete"> Delete</a>

</body>
</html>
